@font-face {
    font-family: 'Share Tech Mono';
    src: url('../fonts/Share_Tech_Mono/sharetechmono-regular-webfont.woff2') format('woff2'), url('../fonts/Share_Tech_Mono/sharetechmono-regular-webfont.woff') format('woff');
}

@mixin font-defaults {
    font-family: 'Share Tech Mono', monospace, monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

$lighter-gray: #dddddd;
$light-gray: #bababa;
$gray: #8d8d8d;
$dark-gray: #3a3a3a;
$light-blue: #a6cbeb;
$blue: #2d6596;
$white: #ffffff;
$error-red: #E00000;
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Set default font for various elements
body, select, input {
    @include font-defaults;
}

body {
    background-image: url('/phpmotors/images/site/small_check.jpg');
    margin: 0;
}

main {
    margin: 0 0.5em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

label {
    font-weight: bold;
}

a, a:visited {
    color: rgb(0, 0, 238);
}

.error {
    color: $error-red;
    font-weight: bold;
}

.msg-info {
    color: $blue;
    font-weight: bold;
    font-style: italic;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5rem;
    .header-right {
        margin-right: 0.5rem;
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.site-nav {
    background-color: $dark-gray;
    margin: 0;
    font-size: 0.8rem;
    a {
        color: $white;
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 1rem 0.5rem 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 1rem;
        li {
            display: inline;
            padding-bottom: 1rem;
            cursor: pointer;
            &.active {
                background-color: $light-blue;
                color: black;
                padding: 1em 0.2em;
            }
        }
    }
}

.site-footer {
    margin-top: 3em;
    border-top: 4px solid $dark-gray;
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.main-container {
    background-color: white;
    max-width: 1000px;
    margin: auto;
}

.above-the-fold {
    color: $blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    .feature-list {
        grid-column: 1/-1;
        grid-row: 1/2;
        z-index: 5;
        margin-left: 0.2em;
        font-weight: bold;
    }
    .delorean-img {
        grid-column: 1/-1;
        grid-row: 1/3;
        margin: 0;
        margin-top: 1em;
        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
    h2 {
        margin: 0;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .btn.own-today {
        grid-column: 1/-1;
        grid-row: 3/4;
        justify-self: center;
        margin-top: 1em;
        color: $light-gray;
        padding: 0.5em 1em;
        font-size: 1.5em;
    }
}

button,
.btn {
    background-color: $blue;
    font: bold 1.2em Arial, sans-serif;
    padding: 0.2em 0.5em;
    cursor: pointer;
}

.homepage-reviews {
    li {
        margin-bottom: 1em;
    }
}

.upgrade-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    figure {
        margin: 0;
        text-align: center;
    }
    .upgrade-container {
        background-color: $blue;
        height: 100px;
        display: flex;
        justify-content: center;
        border: 2px solid $gray;
        img {
            object-fit: none;
        }
    }
}

form {
    textarea,
    select,
    input {
        height: 1.5rem;
        width: 12rem;
        margin-bottom: 1em;
        box-sizing: content-box;
    }
    textarea {
        height: 5rem;
    }
    &.register-form,
    &.sign-in-form,
    &.account-update-form {
        #pw {
            margin-bottom: 0;
        }
    }
}

.pw-req {
    margin-top: 0;
}

#inv-display {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    li {
        margin-bottom: 3em;
        border: 1px #ccc solid;
        list-style-type: none;
        flex: 1 1 auto;
        text-align: center;
        img {
            max-width: 100%;
        }
        .veh-img-container {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    h2 {
        margin: 0;
        padding-top: 10px;
        border-top: 2px #ccc solid;
    }
}

.veh-details {
    img {
        max-width: 100%;
    }
    .veh-specs {
        font-size: 1.2rem;
        line-height: 1.5rem;
        margin-top: 0.5rem;
    }
}

.admin-page {
    h2 {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        +* {
        margin-top: 0;

        }
    }
}

// Reviews 
.reviews-section {
    margin-top: 2rem;
    .review-form {
        margin-top: -0.5rem;
        padding: 0.5rem;
        background-color: rgb(255, 255, 178);
        h3 {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
        textarea {
            width: 100%;
            height: 10rem;
            font-size: 1rem;
        }
    }
    .reviews-display {
        margin-top: 1.5rem;
        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;
        }
        li:nth-child(even) { //alternate background colors
            background-color: $lighter-gray;
        }
        li {
            padding: 0.5rem;
        }
        .review-metadata {
            margin: 0;
        }
        .screenName {
            color: rebeccapurple;
            font-weight: bold;
            font-size: 1.1rem;
        }
        .review-text {
            margin: 0.5rem 1rem;
        }
    } 
    .first-review-prompt {
        font-style: italic;
    }   
}

h2.reviews-header {
    margin-bottom: 0;
}

.client-reviews-container {
    ul {
        margin: 0;
        list-style-type: none;
        padding: 0;
    }
    li:nth-child(even) { //alternate background colors
        background-color: $lighter-gray;
    }
    .client-review {
        flex-flow: column;
        display: flex;
        align-items: start;
        justify-content: space-between;
        padding: 0.5rem 0.5rem;
    }
}

.review-edit-form,
.review-delete-form {
    .review-text-edit {
        width: 99%;
        height: 10rem;
        font-size: 1rem;
    }
    .review-delete-text {
        margin: 0.2rem 0 1rem;
        padding: 0.5rem 1rem;
        background-color: rgb(255, 255, 178);
    }
    .buttons {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}


// Desktop media query styles
@media only screen and (min-width: 1000px) {
    .main-container {
        border: 5px solid $blue;
        border-radius: 5px;
    }
    .site-nav {
        font-size: 1.2em;
        ul {
            padding-left: 1rem;
            column-gap: 2rem;
        }
    }
    .above-the-fold {
        .feature-list {
            margin-top: 1rem;
            margin-left: 3rem;
        }
        .delorean-img {
            grid-column: 1/-1;
            grid-row: 1/-1;
            margin: 0;
        }
        .btn.own-today {
            grid-column: 1/2;
            grid-row: 2/3;
            margin: 1em 0em 0em 3rem;
            justify-self: start;
        }
    }
    .below-the-fold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        .upgrades {
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .reviews {
            grid-column: 2/3;
            grid-row: 1/2;
        }
    }

    /* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
        h2 {
            font-size: 1rem;
            margin-bottom: 1rem;
        }
        li {
            max-width: 200px;
            height: 250px;
            display: initial;
        }
        .veh-img-container {
            height: 150px;
        }
	}

    .veh-details {
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 10px;
        img {
            grid-column: 1/1;
        }
        >.veh-specs {
            margin-top: 0;
        }
    }
    .client-reviews-container {
        .client-review {
            flex-flow: row wrap;
            align-items: center;
        }
    }
    .review-edit-form,
    .review-delete-form {
        .buttons {
            display: initial;
            .btn { margin-right: 20px; }
        }
    }
}